#search {
    height: calc(100vh - 50px);

    background-image: url("../image/home2.jpg");
    background-size: cover;

    font-style: extra bold;
    font-weight: 1000;

    > div {
        background: rgba(0, 0, 0, 0.6);
        height: 100%;
    }

    & .container {
        height: 66%;
    }

    & h1 {
        font-family: "Agbalumo", sans-serif;
        color: #f4d35e;
        font-size: 70px;
    }

    & p {
        color: white;
    }

    & .btn {
        background-color: #f4d35e;
        color: white;
        border-color: #f4d35e;
    }
}

.products-section{
    padding-bottom: 50px;
}

.recipe-section{
    padding-bottom: 50px;
}