.navbar {
    background-color: black;
    font-size: 12px !important;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
    line-height: 2.5;
}

.navbar-nav {
    & a {
        color: white;
    }

    & a.active, a:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar-toggler {
    border-color: transparent;
    background-color: black;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    box-shadow: none;
    background-color: white;
}

.navbar-toggler-icon:focus,
.navbar-toggler:focus .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='darkgray' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 991px) {
    .navbar-nav {
        border-top: 0.8px solid #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 991px) {
    .nav-item {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media (min-width: 992px) {
    .navbar-collapse,
    .navbar-nav {
        display: flex;
        align-self: stretch;
    }
}
